<div class="modal-header primary">
  <h4 class="modal-title" id="modal-title">
    创建消费者
    <a class="modal-close pull-right" ng-click="close()">
      <i class="mdi mdi-close"></i>
    </a>
  </h4>
</div>

<div class="modal-body" id="modal-body">
  <form class="form-horizontal">
    <div class="form-group" ng-class="{'has-error' : errors.username}">
      <label class="col-sm-4 control-label"
        >用户名 <br /><em>
          <small class="help-block">半可选</small>
        </em></label
      >
      <div class="col-sm-7">
        <input ng-model="consumer.username" class="form-control" />
        <div
          class="text-danger"
          ng-if="errors.username"
          data-ng-bind="errors.username"
        ></div>
        <p class="help-block">
          消费者的用户名。必须填写<code>用户名</code>或<code>自定义ID</code>。
        </p>
      </div>
    </div>

    <div class="form-group" ng-class="{'has-error' : errors.custom_id}">
      <label class="col-sm-4 control-label"
        >自定义ID <br /><em>
          <small class="help-block">半可选</small>
        </em></label
      >
      <div class="col-sm-7">
        <input ng-model="consumer.custom_id" class="form-control" />
        <div
          class="text-danger"
          ng-if="errors.custom_id"
          data-ng-bind="errors.custom_id"
        ></div>
        <p class="help-block">
          自定义的消费者ID，用于映射Kong和自有数据库的用户数据。必须填写<code>用户名</code>或<code>自定义ID</code>。
        </p>
      </div>
    </div>

    <div class="form-group" ng-if="isGatewayVersionEqOrGreater('1.1.0-rc1')">
      <label class="col-sm-4 control-label"
        >标签 <br /><em>
          <small class="help-block">可选</small>
        </em></label
      >
      <div class="col-sm-7">
        <chips ng-model="consumer.tags">
          <chip-tmpl>
            <div class="default-chip">
              {{chip}}
              <i class="mdi mdi-close" remove-chip></i>
            </div>
          </chip-tmpl>
          <input
            ng-model-control
            data-ng-keypress="onTagInputKeyPress($event)"
            ng-model="$tag"
            uib-typeahead="tag for tag in tags | filter:$viewValue | limitTo:10"
          />
        </chips>
        <p class="help-block">消费者标签列表</p>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-7">
        <button
          type="button"
          class="btn btn-primary btn-block"
          ng-click="submit()"
        >
          <i class="mdi mdi-check"></i>
          提交消费者
        </button>
      </div>
    </div>
  </form>
</div>
