<div class="col col-sm-offset-3">
  <div class="alert alert-info">
    <small
      >*
      按<code>Enter</code>键来添加<code>主机</code>、<code>路径</code>、<code>方法</code>、<code>协议</code>、<code>SNI</code>、<code>来源</code>、<code>报头</code>和<code>目的地</code>的值</small
    >
  </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.name}">
  <label class="col-sm-3 control-label"
    >名称 <br /><em><small class="help-block">可选</small></em></label
  >
  <div class="col-sm-9">
    <input ng-model="route.name" class="form-control" />
    <div
      class="text-danger"
      ng-if="errors.name"
      data-ng-bind="errors.name"
    ></div>
    <p class="help-block">路由的名称</p>
  </div>
</div>
<div class="form-group" ng-if="isGatewayVersionEqOrGreater('1.1.0-rc1')">
  <label class="col-sm-3 control-label"
    >标签 <br /><em><small class="help-block">可选</small></em></label
  >
  <div class="col-sm-9">
    <chips ng-model="route.tags">
      <chip-tmpl>
        <div class="default-chip">
          {{chip}}
          <i class="mdi mdi-close" remove-chip></i>
        </div>
      </chip-tmpl>
      <input
        ng-model-control
        data-ng-keypress="onTagInputKeyPress($event)"
        ng-model="$tag"
        uib-typeahead="tag for tag in tags | filter:$viewValue | limitTo:10"
      />
    </chips>
    <p class="help-block">路由的标签</p>
  </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.hosts}">
  <label class="col-sm-3 control-label"
    >主机(Host) <br /><em><small class="help-block">半可选</small></em></label
  >
  <div class="col-sm-9">
    <chips ng-model="route.hosts">
      <chip-tmpl>
        <div class="default-chip">
          {{chip}}
          <i class="mdi mdi-close" remove-chip></i>
        </div>
      </chip-tmpl>
      <input chip-control />
    </chips>
    <!--<input ng-model="route.hosts" class="form-control">-->
    <div
      class="text-danger"
      ng-if="errors.hosts"
      data-ng-bind="errors.hosts"
    ></div>
    <p class="help-block">
      匹配路由的域名列表，如：example.com。<code>主机</code>、<code>路径</code>和<code>方法</code>中至少设置其中一个。
    </p>
  </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.paths}">
  <label class="col-sm-3 control-label"
    >路径(Path) <br /><em><small class="help-block">半可选</small></em></label
  >
  <div class="col-sm-9">
    <chips ng-model="route.paths">
      <chip-tmpl>
        <div class="default-chip">
          {{chip}}
          <i class="mdi mdi-close" remove-chip></i>
        </div>
      </chip-tmpl>
      <input chip-control />
    </chips>
    <p class="help-block">
      匹配路由的路径，如：/my-path。<code>主机</code>、<code>路径</code>和<code>方法</code>中必须至少设置其中一个。
    </p>
  </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.headers}">
  <label class="col-sm-3 control-label"
    >报头(Header) <br /><em><small class="help-block">半可选</small></em></label
  >
  <div class="col-sm-9">
    <chips ng-model="route.headers">
      <chip-tmpl>
        <div class="default-chip">
          {{chip}}
          <i class="mdi mdi-close" remove-chip></i>
        </div>
      </chip-tmpl>
      <input chip-control />
    </chips>
    <p class="help-block">
      一个或多个报头值，如果出现在请求中，将匹配该路由。
      不能使用主机头<code>Host</code>，如要匹配主机，请设置<code>主机</code>属性。<br />
      字段值示例：<code>x-some-header:foo,bar</code>
    </p>
  </div>
</div>
<div
  class="form-group"
  ng-class="{'has-error' : errors.https_redirect_status_code}"
>
  <label class="col-sm-3 control-label"
    >HTTPS重定向状态码 <br /><em
      ><small class="help-block">可选</small></em
    ></label
  >
  <div class="col-sm-9">
    <input
      type="number"
      class="form-control"
      ng-model="route.https_redirect_status_code"
    />
    <p class="help-block">
      当路由的所有属性都匹配时，Kong会响应该状态码，除非设置的请求协议是<code>HTTP</code>而不是<code>HTTPS</code>。
      当字段值设为301、302、307或308时，Kong会自动注入<code>Location</code>报头。
      默认<code>426</code>。
    </p>
  </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.regex_priority}">
  <label class="col-sm-3 control-label"
    >正则优先级 <br /><em><small class="help-block">可选</small></em></label
  >
  <div class="col-sm-9">
    <input type="number" class="form-control" ng-model="route.regex_priority" />
    <p class="help-block">
      当请求匹配多个正则路由时，根据优先级来优先匹配，如果<code>优先级</code>一样，那么优先匹配<code>创建时间</code>较早的路由规则。
      注意，非正则路由的优先级会优先匹配较长的路由。默认为<code>0</code>
    </p>
  </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.methods}">
  <label class="col-sm-3 control-label"
    >方法(Method) <br /><em><small class="help-block">半可选</small></em></label
  >
  <div class="col-sm-9">
    <chips ng-model="route.methods">
      <chip-tmpl>
        <div class="default-chip">
          {{chip}}
          <i class="mdi mdi-close" remove-chip></i>
        </div>
      </chip-tmpl>
      <input chip-control />
    </chips>
    <p class="help-block">
      匹配路由的HTTP方法列表。
      <code>主机</code
      >、<code>路径</code>和<code>方法</code>中必须至少设置其中一个。
    </p>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label"
    >删除匹配路径前缀(Strip Path) <br /><em
      ><small class="help-block">可选</small></em
    ></label
  >
  <div class="col-sm-9">
    <input
      bs-switch
      ng-model="route.strip_path"
      switch-size="small"
      type="checkbox"
      switch-on-text="是"
      switch-off-text="否"
    />
    <p class="help-block">当匹配路径时，将会删除匹配的前缀并附加到上游URL。</p>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label"
    >保留主机标识(Preserve Host) <br /><em
      ><small class="help-block">可选</small></em
    ></label
  >
  <div class="col-sm-9">
    <input
      bs-switch
      ng-model="route.preserve_host"
      switch-size="small"
      type="checkbox"
      switch-on-text="是"
      switch-off-text="否"
    />
    <p class="help-block">
      当通过<code>主机</code>进行匹配时，
      客户端请求报头的<code>Host</code>通过Kong透传到上游服务，而不是从upstream_url提取。
      默认<code>false</code>，此时会使用上游服务器的<code>host</code>来作为报头<code>Host</code>的值。
    </p>
  </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.protocols}">
  <label class="col-sm-3 control-label"
    >协议(Protocol) <br /><em
      ><small class="help-block">半可选</small></em
    ></label
  >
  <div class="col-sm-9">
    <chips ng-model="route.protocols">
      <chip-tmpl>
        <div class="default-chip">
          {{chip}}
          <i class="mdi mdi-close" remove-chip></i>
        </div>
      </chip-tmpl>
      <input chip-control />
    </chips>
    <p class="help-block">
      路由协议列表。默认是<code>["http", "https"]</code>，意思是接受这两种协议。
      当设置为<code>["https"]</code>时，HTTP请求将升级到HTTPS。
    </p>
  </div>
</div>

<div class="form-group" ng-class="{'has-error' : errors.snis}">
  <label class="col-sm-3 control-label"
    >服务器名称指示(SNI) <br /><em
      ><small class="help-block">半可选</small></em
    ></label
  >
  <div class="col-sm-9">
    <chips ng-model="route.snis">
      <chip-tmpl>
        <div class="default-chip">
          {{chip}}
          <i class="mdi mdi-close" remove-chip></i>
        </div>
      </chip-tmpl>
      <input chip-control />
    </chips>
    <p class="help-block">
      匹配路由的SNI列表。当使用<code>TCP</code>或<code>TLS</code>协议时，<code>服务器名称指示(SNI)</code>、<code>来源地</code>和<code>目的地</code>中必须至少设置其中一个。
    </p>
  </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.sources}">
  <label class="col-sm-3 control-label"
    >来源地 <br /><em><small class="help-block">半可选</small></em></label
  >
  <div class="col-sm-9">
    <chips ng-model="route.sources">
      <chip-tmpl>
        <div class="default-chip">
          {{chip}}
          <i class="mdi mdi-close" remove-chip></i>
        </div>
      </chip-tmpl>
      <input chip-control />
    </chips>
    <p class="help-block">
      传入连接的来源IP地址列表。格式为<code>CIDR</code>或<code>IP:端口</code>。
      当使用<code>TCP</code>或<code>TLS</code>协议时，<code>服务器名称指示(SNI)</code>、<code>来源地</code>和<code>目的地</code>中必须至少设置其中一个。
      <br />
      如：<code>192.168.1.2:3000</code>、<code>192.168.0.0/16</code>
    </p>
  </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.destinations}">
  <label class="col-sm-3 control-label"
    >目的地 <br /><em><small class="help-block">半可选</small></em></label
  >
  <div class="col-sm-9">
    <chips ng-model="route.destinations">
      <chip-tmpl>
        <div class="default-chip">
          {{chip}}
          <i class="mdi mdi-close" remove-chip></i>
        </div>
      </chip-tmpl>
      <input chip-control />
    </chips>
    <p class="help-block">
      传入连接的目的IP地址列表。格式为<code>CIDR</code>或<code>IP:端口</code>。
      当使用<code>TCP</code>或<code>TLS</code>协议时，<code>服务器名称指示(SNI)</code>、<code>来源地</code>和<code>目的地</code>中必须至少设置其中一个。
      <br />
      如：<code>192.168.1.2:3000</code>、<code>192.168.0.0/16</code>
    </p>
  </div>
</div>
