<div class="modal-header primary">
  <h5 class="modal-title" id="modal-title">
    <i class="mdi mdi-heart-outline"></i>
    健康检查
    <a class="modal-close pull-right" ng-click="close()">
      <i class="mdi mdi-close"></i>
    </a>
  </h5>
</div>
<div class="modal-body">
  <div class="row margin-bottom">
    <div class="col-md-8">
      <h4 class="no-margin text-uppercase">{{node.name}}</h4>
    </div>
    <div class="col-md-4 text-right">
      <input
        bs-switch
        ng-model="node.health_checks"
        switch-size="mini"
        type="checkbox"
        switch-on-text="启用"
        switch-off-text="禁用"
        ng-change="toggleHealthChecks(node)"
      />
    </div>
  </div>

  <div data-ng-show="!node.health_check_details">
    <p class="lead no-margin">无可用信息...</p>
    <p class="help-block" ng-if="!node.health_checks">
      您需要启用该节点的健康检查来获取状态信息。
    </p>
    <p class="help-block" ng-if="node.health_checks">稍后重试...</p>
  </div>
  <p class="help-block" ng-if="node.health_checks">
    <strong class="text-danger"> 提示：</strong>
    在<code>设置</code>中开启<code>邮件通知</code>后，当API挂了或未响应的时会通过Email通知管理员。
  </p>
</div>

<div data-ng-show="node.health_check_details" class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>上一次状态</th>
      <td>
        <strong
          ng-if="node.health_check_details.firstSucceeded"
          class="text-success"
        >
          <i class="mdi mdi-check"></i>
          健康
        </strong>
        <strong
          ng-if="!node.health_check_details.firstSucceeded"
          class="text-danger"
        >
          <i class="mdi mdi-alert-outline"></i>
          不健康
        </strong>
      </td>
    </tr>
    <tr>
      <th>上一次检查</th>
      <th>{{moment(node.health_check_details.lastChecked).fromNow()}}</th>
    </tr>
    <tr>
      <th>上一次失败</th>
      <td>
        {{node.health_check_details.lastFailed ?
        moment(node.health_check_details.lastFailed).format("dddd, MMMM Do YYYY,
        HH:mm:ss") : "Never"}}
      </td>
    </tr>
    <tr>
      <th>上一次失败原因</th>
      <td>
        <strong
          >{{node.health_check_details.lastFailedReason ?
          node.health_check_details.lastFailedReason : "N/A"}}</strong
        >
      </td>
    </tr>
    <tr>
      <th>上一次通知</th>
      <td>
        {{node.health_check_details.lastNotified ?
        moment(node.health_check_details.lastNotified).fromNow() : 'Never'}}
      </td>
    </tr>
    <tr>
      <th>
        <span
          data-ng-if="moment(node.health_check_details.lastSucceeded || 0) > moment(node.health_check_details.lastFailed || 0)"
        >
          正常运行时间
        </span>
        <span
          data-ng-if="moment(node.health_check_details.lastSucceeded || 0) <= moment(node.health_check_details.lastFailed || 0)"
        >
          停机时间
        </span>
      </th>
      <td>
        <span
          data-ng-if="moment(node.health_check_details.lastSucceeded || 0) > moment(node.health_check_details.lastFailed || 0)"
        >
          {{moment.duration(moment().diff(moment(node.health_check_details.firstSucceeded))).humanize()}}
        </span>
        <span
          data-ng-if="moment(node.health_check_details.lastSucceeded || 0) <= moment(node.health_check_details.lastFailed || 0)"
        >
          {{moment.duration(moment().diff(moment(node.health_check_details.firstFailed))).humanize()}}
        </span>
      </td>
    </tr>
  </table>
</div>
