<div class="modal-header success">
  <h4 class="modal-title" id="modal-title">
    添加后端服务器
    <a class="modal-close pull-right" ng-click="close()">
      <i class="mdi mdi-close"></i>
    </a>
  </h4>
</div>

<div class="modal-body" id="modal-body">
  <div class="alert alert-danger" data-ng-show="errors.message">
    {{errors.message}}
  </div>
  <form class="form-horizontal">
    <div class="form-group" ng-class="{'has-error' : errors.target}">
      <label class="col-sm-4 control-label"
        >后端服务器 <br /><em><small class="help-block">必填</small></em></label
      >
      <div class="col-sm-7">
        <input ng-model="item.target" class="form-control" />
        <div
          class="text-danger"
          ng-if="errors.target"
          data-ng-bind="errors.target"
        ></div>
        <p class="help-block">
          后端服务器（IP或主机名称）和端口。如果没有<code>端口</code>，默认使用8000。
          如果主机有SRV解析记录，<code>权重</code>值将被来自于DNS记录的值所覆盖。
        </p>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error' : errors.weight}">
      <label class="col-sm-4 control-label"
        >权重 <br /><em><small class="help-block">可选</small></em></label
      >
      <div class="col-sm-7">
        <input type="number" ng-model="item.weight" class="form-control" />
        <div
          class="text-danger"
          ng-if="errors.weight"
          data-ng-bind="errors.weight"
        ></div>
        <p class="help-block">
          负载均衡权重
          (<code>0</code>-<code>1000</code>，默认<code>100</code>)。
          如果主机有SRV解析记录，<code>权重</code>值将被来自于DNS记录的值所覆盖。
        </p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-7">
        <button
          type="submit"
          class="btn btn-primary btn-block"
          ng-click="submit()"
        >
          <i class="mdi mdi-check"></i>
          提交后端服务器
        </button>
      </div>
    </div>
  </form>
</div>
