<div class="panel panel-default">
  <div class="panel-heading primary">
    <div class="panel-title pull-left">后端服务器</div>
    <button
      class="btn btn-sm btn-primary btn-link pull-right"
      data-ng-click="onAddTarget()"
    >
      <i class="mdi mdi-plus"></i>
      添加后端服务器
    </button>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <p class="help-block">
      后端服务器是由IP地址或主机名称跟端口组成的后端服务实例。每个上游都会有若干后端服务器，这些后端服务器可以动态地添加和删除并立即生效。
    </p>

    <p class="help-block">
      由于上游维护后端服务器的历史变更，导致后端服务器无法删除或修改。请禁用一个后端服务器，然后新建一个<code>0权重</code>的服务器。
    </p>
    <div class="col-md-12 bg-light-grey padding">
      <list-search
        class="pull-left margin-right"
        data-filters="filters"
        data-options="itemsPerPageOptions"
        data-items="itemsPerPage"
      ></list-search>
    </div>
    <div class="clearfix"></div>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <tr>
          <th width="1" ng-if="compareKongVersion('0.12.2') >= 0"></th>
          <th
            width="{{item.width}}"
            class="text-nowrap"
            data-ng-repeat="item in titleItems | filter:titleFilter"
          >
            <a
              class="clickable"
              data-ng-show="item.column"
              data-ng-click="changeSort(item)"
              data-ng-bind-html="item.title.toUpperCase()"
            ></a>
            <span
              data-ng-show="!item.column"
              data-ng-bind-html="item.title.toUpperCase()"
            ></span>
            <input
              data-ng-if="item.checkbox"
              type="checkbox"
              data-ng-model="globalCheck.isAllChecked"
            />
            <i
              class="mdi"
              data-ng-show="sort.column == item.column"
              data-ng-class="{'mdi-chevron-down': !sort.direction, 'mdi-chevron-up': sort.direction}"
            >
            </i>
          </th>
          <th width="1"></th>
          <th width="1"></th>
          <th width="1"></th>
        </tr>
        <tr
          dir-paginate="item in items | orderBy:sort.column:sort.direction | filter : filters.searchWord | itemsPerPage: itemsPerPage"
        >
          <td ng-if="compareKongVersion('0.12.2') >= 0">
            <!-- DNS_ERROR -->
            <span
              ng-if="item.health && item.health === 'DNS_ERROR'"
              class="badge badge-danger"
            >
              DNS错误
            </span>

            <!-- HEALTHCHECKS_OFF -->
            <i
              style="opacity: 0.5"
              uib-tooltip="{{item.health}}"
              ng-if="item.health && item.health === 'HEALTHCHECKS_OFF'"
              class="mdi mdi-heart-outline"
            ></i>

            <!-- HEALTHY -->
            <i
              ng-if="item.health && item.health === 'HEALTHY'"
              class="mdi mdi-heart-pulse text-success"
              uib-tooltip="{{item.health}}"
            ></i>

            <!-- UNHEALTHY -->
            <i
              ng-if="item.health && item.health === 'UNHEALTHY'"
              class="mdi mdi-heart-broken text-danger"
              uib-tooltip="{{item.health}}"
            ></i>
          </td>
          <td>
            <raw-view data-item="item"></raw-view>
          </td>
          <td>{{item.target || "-"}}</td>
          <td>{{item.weight || "-"}}</td>
          <td>{{moment(item.created_at * 1000).format("YYYY-MM-DD HH:mm")}}</td>
          <td>
            <button
              type="button"
              ng-click="setHealth($index,item, true)"
              uib-tooltip="设为健康"
              class="btn btn-success btn-link"
            >
              <i class="mdi mdi-check-circle-outline"></i>
            </button>
          </td>
          <td>
            <button
              type="button"
              ng-click="setHealth($index,item, false)"
              uib-tooltip="设为不健康"
              class="btn btn-warning btn-link"
            >
              <i class="mdi mdi-heart-off"></i>
            </button>
          </td>
          <td>
            <button
              type="button"
              ng-click="deleteItem($index,item)"
              class="btn btn-danger btn-link"
            >
              <i class="mdi mdi-delete"></i>
              删除
            </button>
          </td>
        </tr>

        <tr data-ng-if="items.length === 0 && !loading">
          <td colspan="100%" class="text-center text-muted">
            <em>无数据...</em>
          </td>
        </tr>
        <tr data-ng-if="loading">
          <td colspan="100%" class="text-center text-muted">
            <em>列表加载中...</em>
          </td>
        </tr>
      </table>
    </div>

    <dir-pagination-controls class="pull-right"></dir-pagination-controls>
  </div>
</div>
