<form name="applicationSettingsForm" ng-submit="updateKongaSettings()">
  <!-- GENERAL SETTINGS -->
  <div class="row">
    <div class="col-md-12">
      <hr />
      <h3>一般设置</h3>
      <hr />
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label> 仪表盘刷新间隔 </label>
            <input
              type="number"
              class="form-control"
              data-ng-model="KONGA_CONFIG.info_polling_interval"
            />
            <p class="help-block">
              仪表板数据刷新的间隔(以毫秒为单位)。如果设置为0，将禁用轮询。
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label> 基础URL </label>
            <input
              type="text"
              class="form-control"
              data-ng-model="KONGA_CONFIG.baseUrl"
              placeholder="如 http://my-konga.io"
            />
            <p class="help-block">
              Konga使用<code>baseUrl</code>来生成链接（如账户激活链接）。如果留空，将使用<code>IP地址:端口</code>。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />

  <!-- SIGN UP RESTRICTIONS -->
  <div class="row">
    <div class="col-md-12">
      <hr />
      <h3>注册限制</h3>
      <hr />
      <div class="form-group">
        <ul class="list-unstyled">
          <li>
            <div class="checkbox">
              <label class="pull-left margin-right">
                <input
                  type="checkbox"
                  ng-change="updateKongaSettings()"
                  ng-model="KONGA_CONFIG.signup_enable"
                />
              </label>
              <p>
                允许用户注册。
                <br />
                <span class="help-block">如果启用，将允许用户注册。</span>
              </p>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label class="pull-left margin-right">
                <input
                  type="checkbox"
                  ng-change="updateKongaSettings()"
                  ng-model="KONGA_CONFIG.signup_require_activation"
                />
              </label>
              <p>
                发送激活邮件。
                <br />
                <span class="help-block"
                  >如果启用，将发送激活邮件给用户，否则用户将自动激活。</span
                >
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br />

  <!-- NOTIFICATIONS -->
  <div class="row">
    <div class="col-md-12">
      <hr />
      <h3>通知</h3>
      <hr />

      <uib-tabset active="active">
        <uib-tab index="0">
          <uib-tab-heading> 邮件 </uib-tab-heading>
          <br />
          <p class="help-block">设置邮箱通知。</p>
          <hr />
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>默认发送者名称</label>
                <input
                  required="required"
                  type="text"
                  class="form-control"
                  data-ng-model="KONGA_CONFIG.email_default_sender_name"
                />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>默认发送地址</label>
                <input
                  required="required"
                  type="email"
                  class="form-control"
                  data-ng-model="KONGA_CONFIG.email_default_sender"
                />
              </div>
            </div>
          </div>
          <br />
          <h5>邮件发送服务</h5>
          <p class="help-block">
            选择并配置邮件发送服务。您可以禁用邮件通知来禁用所有邮件发送服务。
          </p>
          <div class="row" vertilize-container="">
            <div class="col-md-4" data-ng-repeat="transport in transports">
              <div
                class="panel"
                vertilize
                ng-class="{'panel-primary' : KONGA_CONFIG.default_transport == transport.name,'panel-default' : KONGA_CONFIG.default_transport != transport.name}"
              >
                <div class="panel-heading">
                  <div class="panel-title">
                    <div
                      class="pull-left clickable"
                      data-ng-click="setDefaultTransport(transport.name)"
                    >
                      <i
                        class="mdi"
                        ng-class="KONGA_CONFIG.default_transport == transport.name ? 'mdi-checkbox-marked-outline' : 'mdi-checkbox-blank-outline'"
                      ></i>
                      {{transport.name.toUpperCase()}}
                    </div>

                    <div class="pull-right" style="margin-top: -6px">
                      <button
                        type="button"
                        class="btn btn-link btn-sm"
                        data-ng-show="transport.name != 'sendmail'"
                        data-ng-click="configureTransport(transport)"
                        data-ng-class="{'text-white':KONGA_CONFIG.default_transport == transport.name}"
                      >
                        <i class="mdi mdi-settings"></i>
                      </button>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="panel-body">
                  <p class="help-block elipsize">{{transport.description}}</p>
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
        <uib-tab index="1">
          <uib-tab-heading> 第三方整合 </uib-tab-heading>
          <br />
          <div class="row">
            <div class="col-md-12">
              <p class="help-block">整合Konga和第三方应用。</p>
              <hr />
              <div class="row">
                <div class="col-md-4" ng-repeat="item in integrations">
                  <div
                    ng-class="{'panel-primary' : item.config.enabled}"
                    class="thumbnail"
                  >
                    <div
                      class="integration-switch"
                      style="position: absolute; right: 30px; top: 10px"
                    >
                      <input
                        bs-switch
                        ng-model="item.config.enabled"
                        switch-size="mini"
                        type="checkbox"
                        switch-on-text="ON"
                        switch-off-text="OFF"
                        ng-change="updateKongaSettings()"
                      />
                    </div>

                    <img
                      style="width: 100%; height: auto; background: #f2f2f2"
                      ng-src="images/{{item.image}}"
                      alt="slack"
                    />
                    <div class="caption">
                      <!--<div class="form-group">-->
                      <!--<label>-->
                      <!--Slack Webhook URL-->
                      <!--</label>-->
                      <!--<input class="form-control" data-ng-model="item.config.slack_webhook_url">-->
                      <!--</div>-->
                      <p class="text-muted">使用Webhook来发送通知给Slack。</p>
                      <button
                        type="button"
                        ng-click="configureIntegration(item)"
                        class="btn btn-block btn-primary btn-inverse btn-flat"
                      >
                        <i class="mdi mdi-settings"></i>
                        配置
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </uib-tab>
      </uib-tabset>
      <br />
      <div class="row">
        <div class="col-md-12">
          <h5>出现以下情况时通知管理员</h5>
          <p class="text-muted">通知将发送到邮箱和第三方应用。</p>
          <div class="table-responsive">
            <table class="table table-hover">
              <tr data-ng-repeat="(key,value) in KONGA_CONFIG.notify_when">
                <td width="1">
                  <div class="checkbox">
                    <label>
                      <input
                        type="checkbox"
                        ng-change="updateKongaSettings()"
                        ng-model="value.active"
                      />
                    </label>
                  </div>
                </td>
                <td>
                  <h6 class="no-margin">{{value.title}}</h6>
                  <p class="help-block no-margin">{{value.description}}</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />

  <!-- USER PERMISSIONS -->
  <div class="row">
    <div class="col-md-12">
      <hr />
      <h3>用户权限</h3>
      <hr />
      <div
        class="row"
        data-ng-repeat="(context,permissions) in KONGA_CONFIG.user_permissions"
      >
        <div class="col-md-12">
          <h6>
            {{userPermissionContextName[context.toUpperCase()] ||
            context.toUpperCase()}}
          </h6>
          <div class="well">
            <label
              class="checkbox-inline margin-right"
              data-ng-repeat="(key,value) in permissions"
            >
              <input
                type="checkbox"
                ng-change="updateKongaSettings()"
                ng-model="KONGA_CONFIG.user_permissions[context][key]"
              />
              {{permissionName[key] || key}}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary btn-block">保存设置</button>
    </div>
  </div>
</form>
