<div class="form-group" ng-class="{'has-error' : errors.name}">
  <label class="col-sm-4 control-label"
    >名称 <br /><em><small class="help-block">可选</small></em></label
  >
  <div class="col-sm-7">
    <input ng-model="service.name" class="form-control" />
    <div
      class="text-danger"
      ng-if="errors.name"
      data-ng-bind="errors.name"
    ></div>
    <p class="help-block">服务的名称</p>
  </div>
</div>

<!-- EXTRAS -->
<div class="form-group">
  <label class="col-sm-4 control-label"
    >描述 <br /><em><small class="help-block">可选</small></em></label
  >
  <div class="col-sm-7">
    <input ng-model="service.extras.description" class="form-control" />
    <p class="help-block">服务的描述</p>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label"
    >标签 <br /><em><small class="help-block">可选</small></em></label
  >
  <div class="col-sm-7" ng-if="isGatewayVersionEqOrGreater('1.1.0-rc1')">
    <chips ng-model="service.tags">
      <chip-tmpl>
        <div class="default-chip">
          {{chip}}
          <i class="mdi mdi-close" remove-chip></i>
        </div>
      </chip-tmpl>
      <input
        ng-model-control
        data-ng-keypress="onTagInputKeyPress($event)"
        ng-model="$tag"
        uib-typeahead="tag for tag in tags | filter:$viewValue | limitTo:10"
      />
    </chips>
    <p class="help-block">服务的标签</p>
  </div>
  <div class="col-sm-7" ng-if="!isGatewayVersionEqOrGreater('1.1.0-rc1')">
    <chips ng-model="service.extras.tags">
      <chip-tmpl>
        <div class="default-chip">
          {{chip}}
          <i class="mdi mdi-close" remove-chip></i>
        </div>
      </chip-tmpl>
      <input
        ng-model-control
        data-ng-keypress="onTagInputKeyPress($event)"
        ng-model="$tag"
        uib-typeahead="tag for tag in tags | filter:$viewValue | limitTo:10"
      />
    </chips>
    <p class="help-block">服务的标签</p>
  </div>
</div>
<!--/ END EXTRAS -->

<div
  class="form-group"
  ng-class="{'has-error' : errors.url}"
  ng-if="!service.id"
>
  <label class="col-sm-4 control-label"
    >Url <br /><em><small class="help-block">简写属性</small></em></label
  >
  <div class="col-sm-7">
    <input ng-model="service.url" class="form-control" />
    <div class="text-danger" ng-if="errors.url" data-ng-bind="errors.url"></div>
    <p class="help-block">
      上游服务器的简写Url，保存后拆分解析成<code>协议</code>、<code>主机</code>、<code>端口</code>和<code>路径</code>。
      该属性只写（Admin接口不返回该url）。
    </p>
  </div>
</div>

<div class="form-group" ng-class="{'has-error' : errors.protocol}">
  <label class="col-sm-4 control-label"
    >协议 <br /><em><small class="help-block">半可选</small></em></label
  >
  <div class="col-sm-7">
    <input ng-model="service.protocol" class="form-control" />
    <div
      class="text-danger"
      ng-if="errors.protocol"
      data-ng-bind="errors.protocol"
    ></div>
    <p class="help-block">
      用于与上游通信的协议。只能是<code>http</code>或<code>https</code>。
    </p>
  </div>
</div>

<div class="form-group" ng-class="{'has-error' : errors.host}">
  <label class="col-sm-4 control-label"
    >主机 <br /><em><small class="help-block">半可选</small></em></label
  >
  <div class="col-sm-7">
    <input ng-model="service.host" class="form-control" />
    <div
      class="text-danger"
      ng-if="errors.host"
      data-ng-bind="errors.host"
    ></div>
    <p class="help-block">上游服务主机</p>
  </div>
</div>

<div class="form-group" ng-class="{'has-error' : errors.port}">
  <label class="col-sm-4 control-label"
    >端口 <br /><em><small class="help-block">半可选</small></em></label
  >
  <div class="col-sm-7">
    <input type="number" ng-model="service.port" class="form-control" />
    <div
      class="text-danger"
      ng-if="errors.port"
      data-ng-bind="errors.port"
    ></div>
    <p class="help-block">上游服务端口。默认<code>80</code>.</p>
  </div>
</div>

<div class="form-group" ng-class="{'has-error' : errors.path}">
  <label class="col-sm-4 control-label"
    >路径 <br /><em><small class="help-block">可选</small></em></label
  >
  <div class="col-sm-7">
    <input ng-model="service.path" class="form-control" />
    <div
      class="text-danger"
      ng-if="errors.path"
      data-ng-bind="errors.path"
    ></div>
    <p class="help-block">在向上游服务器的请求中使用的路径。默认为空。</p>
  </div>
</div>

<div class="form-group" ng-class="{'has-error' : errors.retries}">
  <label class="col-sm-4 control-label"
    >重试次数 <br /><em><small class="help-block">可选</small></em></label
  >
  <div class="col-sm-7">
    <input type="number" ng-model="service.retries" class="form-control" />
    <div
      class="text-danger"
      ng-if="errors.retries"
      data-ng-bind="errors.retries"
    ></div>
    <p class="help-block">代理失败时重试次数。默认<code>5</code></p>
  </div>
</div>

<div class="form-group" ng-class="{'has-error' : errors.connect_timeout}">
  <label class="col-sm-4 control-label"
    >连接超时 <br /><em><small class="help-block">可选</small></em></label
  >
  <div class="col-sm-7">
    <input
      type="number"
      ng-model="service.connect_timeout"
      class="form-control"
    />
    <div
      class="text-danger"
      ng-if="errors.connect_timeout"
      data-ng-bind="errors.connect_timeout"
    ></div>
    <p class="help-block">
      与上游服务器建立连接的超时毫秒数。 默认<code>60000</code>
    </p>
  </div>
</div>

<div class="form-group" ng-class="{'has-error' : errors.write_timeout}">
  <label class="col-sm-4 control-label"
    >写入超时 <br /><em><small class="help-block">可选</small></em></label
  >
  <div class="col-sm-7">
    <input
      type="number"
      ng-model="service.write_timeout"
      class="form-control"
    />
    <div
      class="text-danger"
      ng-if="errors.write_timeout"
      data-ng-bind="errors.write_timeout"
    ></div>
    <p class="help-block">
      发送到上游服务器的写入操作的超时毫秒数。默认<code>60000</code>
    </p>
  </div>
</div>
<div class="form-group" ng-class="{'has-error' : errors.read_timeout}">
  <label class="col-sm-4 control-label"
    >读取超时 <br /><em><small class="help-block">可选</small></em></label
  >
  <div class="col-sm-7">
    <input type="number" ng-model="service.read_timeout" class="form-control" />
    <div
      class="text-danger"
      ng-if="errors.read_timeout"
      data-ng-bind="errors.read_timeout"
    ></div>
    <p class="help-block">
      发送到上游服务器的读取操作的超时毫秒数。默认<code>60000</code>
    </p>
  </div>
</div>

<div class="form-group" ng-class="{'has-error' : errors.client_certificate}">
  <label class="col-sm-4 control-label"
    >客户端证书 <br /><em><small class="help-block">可选</small></em></label
  >
  <div class="col-sm-7">
    <input
      type="text"
      ng-model="service.client_certificate.id"
      class="form-control"
    />
    <div
      class="text-danger"
      ng-if="errors.client_certificate"
      data-ng-bind="errors.client_certificate"
    ></div>
    <p class="help-block">
      被用来与上游服务器进行TLS握手的客户端证书(<code>id</code>)。
    </p>
  </div>
</div>
